pdf_converter UnicodeEncodeError

I'm encoding a large number of pdf documents and received the error below.  Any quick ways to find the file with the problem?

```
---------------------------------------------------------------------------
UnicodeEncodeError                        Traceback (most recent call last)
<ipython-input-3-eba2ef26e264> in <module>
----> 1 df = pdf_converter(directory_path='/disk1/home/josephwinston/work/Data/pdf/')
      2 df.head()

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/cdqa-1.0.5-py3.7.egg/cdqa/utils/converters.py in pdf_converter(directory_path)
    110     for i, pdf in enumerate(list_pdf):
    111         df.loc[i] = [pdf, None]
--> 112         raw = parser.from_file(os.path.join(directory_path,pdf))
    113         s = raw['content']
    114         paragraphs = re.split(u'\n(?=\u2028|[A-Z-0-9])', s)

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/tika-1.19-py3.7.egg/tika/parser.py in from_file(filename, serverEndpoint, xmlContent, headers, config_path)
     34     '''
     35     if not xmlContent:
---> 36         jsonOutput = parse1('all', filename, serverEndpoint, headers=headers, config_path=config_path)
     37     else:
     38         jsonOutput = parse1('all', filename, serverEndpoint, services={'meta': '/meta', 'text': '/tika', 'all': '/rmeta/xml'},

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/tika-1.19-py3.7.egg/tika/tika.py in parse1(option, urlOrPath, serverEndpoint, verbose, tikaServerJar, responseMimeType, services, rawResponse, headers, config_path)
    326     if service == '/tika': responseMimeType = 'text/plain'
    327     status, response = callServer('put', serverEndpoint, service, open(path, 'rb'),
--> 328                                   headers, verbose, tikaServerJar, config_path=config_path, rawResponse=rawResponse)
    329 
    330     if file_type == 'remote': os.unlink(path)

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/tika-1.19-py3.7.egg/tika/tika.py in callServer(verb, serverEndpoint, service, data, headers, verbose, tikaServerJar, httpVerbs, classpath, rawResponse, config_path)
    535         encodedData = data.encode('utf-8')
    536 
--> 537     resp = verbFn(serviceUrl, encodedData, headers=headers, verify=False)
    538     if verbose:
    539         print(sys.stderr, "Request headers: ", headers)

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/requests/api.py in put(url, data, **kwargs)
    129     """
    130 
--> 131     return request('put', url, data=data, **kwargs)
    132 
    133 

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/requests/api.py in request(method, url, **kwargs)
     58     # cases, and look like a memory leak in others.
     59     with sessions.Session() as session:
---> 60         return session.request(method=method, url=url, **kwargs)
     61 
     62 

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/requests/sessions.py in request(self, method, url, params, data, headers, cookies, files, auth, timeout, allow_redirects, proxies, hooks, stream, verify, cert, json)
    531         }
    532         send_kwargs.update(settings)
--> 533         resp = self.send(prep, **send_kwargs)
    534 
    535         return resp

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/requests/sessions.py in send(self, request, **kwargs)
    644 
    645         # Send the request
--> 646         r = adapter.send(request, **kwargs)
    647 
    648         # Total elapsed time of the request (approximately)

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/requests/adapters.py in send(self, request, stream, timeout, verify, cert, proxies)
    447                     decode_content=False,
    448                     retries=self.max_retries,
--> 449                     timeout=timeout
    450                 )
    451 

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/urllib3/connectionpool.py in urlopen(self, method, url, body, headers, retries, redirect, assert_same_host, timeout, pool_timeout, release_conn, chunked, body_pos, **response_kw)
    598                                                   timeout=timeout_obj,
    599                                                   body=body, headers=headers,
--> 600                                                   chunked=chunked)
    601 
    602             # If we're going to release the connection in ``finally:``, then

~/anaconda3/envs/cdQA/lib/python3.7/site-packages/urllib3/connectionpool.py in _make_request(self, conn, method, url, timeout, chunked, **httplib_request_kw)
    352             conn.request_chunked(method, url, **httplib_request_kw)
    353         else:
--> 354             conn.request(method, url, **httplib_request_kw)
    355 
    356         # Reset the timeout for the recv() on the socket

~/anaconda3/envs/cdQA/lib/python3.7/http/client.py in request(self, method, url, body, headers, encode_chunked)
   1227                 encode_chunked=False):
   1228         """Send a complete request to the server."""
-> 1229         self._send_request(method, url, body, headers, encode_chunked)
   1230 
   1231     def _send_request(self, method, url, body, headers, encode_chunked):

~/anaconda3/envs/cdQA/lib/python3.7/http/client.py in _send_request(self, method, url, body, headers, encode_chunked)
   1268 
   1269         for hdr, value in headers.items():
-> 1270             self.putheader(hdr, value)
   1271         if isinstance(body, str):
   1272             # RFC 2616 Section 3.7.1 says that text default has a

~/anaconda3/envs/cdQA/lib/python3.7/http/client.py in putheader(self, header, *values)
   1200         for i, one_value in enumerate(values):
   1201             if hasattr(one_value, 'encode'):
-> 1202                 values[i] = one_value.encode('latin-1')
   1203             elif isinstance(one_value, int):
   1204                 values[i] = str(one_value).encode('ascii')

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2013' in position 52: ordinal not in range(256)
```


Hi, I have just merged a PR where I changed the `pdf_converter` function.

Now it informs which file is causing errors when an error is raised. You can install the new version of `cdQA` (`1.0.8`) with this feature

Thank you. I’ll try this feature today. 

> On Jul 26, 2019, at 2:16 AM, André <notifications@github.com> wrote:
> 
> Hi, I have just merged a PR where I changed the pdf_converter function.
> 
> Now it informs which file is causing errors when an error is raised. You can install the new version of cdQA (1.0.8) with this feature
> 
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub, or mute the thread.


One comment, and I'll do a pull request if asked, is that `cdqa/utils/converters.py` is missing an `import sys`

Thanks for pointing that out, I just added the `import`, but feel free to do a PR next time you find a way to fix a bug :)